[submodule "libs/common/reflekt"]
	path = libs/common/reflekt
	url = https://github.com/Ujhhgtg/reflekt
[submodule "libs/common/bsh"]
	path = libs/common/bsh
	url = https://github.com/Johnny520/bsh.git
